$primary-color: #f33;
$secondary-color: #ffb121;
$background-1: #f7f5f2;
$side-bar-color: #333333;
$tab-color: #2e2e2e;
$btn-hover-color: #cc0000;
$white-color: white;
$font-weight-btn: 500;
$font-size-btn: 1.6rem;
$credit: #699b1e;
$debit: $btn-hover-color;
